.center-button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-item: center;
}

.cast-ballot {
  background: red;
}

.extra-padding {
  padding-right: 50px;
}
