<ion-header>

   <ion-nav>
      <ion-title>Vote Review</ion-title>
   </ion-nav>

</ion-header>

<ion-content padding>
   <ion-card *ngFor="let item of election.contests; let i=index"
      (click)="oneVoteReview(i)">
      {{item.contestName}}
      <ion-list no-line>
         <div *ngFor="let ballotSelection of item.ballotSelections">
            <div *ngFor="let candidateName of ballotSelection.candidates">
               <ion-row no-line>
                  <ion-item text-wrap no-line item-start *ngIf="ballotSelection.selected">
                     <!-- <ion-checkbox (ionChange)="item.ionChangeUpdateCheckbox($event)" (click)="item.updateCheckbox($event)"></ion-checkbox> -->
                        <!-- (ionChange)="item.ionChangeIgnoreCheckbox($event)" -->
                     <ion-checkbox
                        (click)="oneVoteReview(i)" checked=true></ion-checkbox>
                     <ion-label no-line>{{candidateName.personName}} {{candidateName.partyAbbreviation}}</ion-label>
                  </ion-item>
               </ion-row>
            </div>
         </div>
      </ion-list>
      <ion-item color=warning text-wrap *ngIf="item.getVotesLeft() == item.getVotesAllowed()">
         You did not vote for anyone. If you want to vote, touch here.
      </ion-item>
      <ion-item color=warning text-wrap *ngIf="item.getVotesLeft() > 0 && item.getCurrentlySelected() > 0">
         You voted for {{item.currentlySelected}} person(s). You can vote for {{item.getVotesLeft()}} more. If you want to vote for
         more, touch here.
      </ion-item>
   </ion-card>
   <div class='center-button'>
      <ion-button (click)="closeModal()">Close</ion-button>
   </div>

</ion-content>
