<ion-header *ngIf="election.ready">
  <!-- <ion-navbar> -->
  <ion-buttons end>
    <button ion-button outline (click)=voteReview($event)>Review your votes</button>
  </ion-buttons>
  <!--</ion-navbar>-->
</ion-header>

<ion-content>
  <div *ngIf="!election.ready">
    <ion-spinner name="bubbles"></ion-spinner>
    <ion-label>Loading...</ion-label>

  </div>

  <div *ngIf="election.ready">

    <ion-slides>
      <ion-slide *ngFor="let item of election.contests">
        {{item.contestName}}
        <br>select: {{item.getVotesAllowed()}}
        <br> {{item.statusMessage}}
        <ion-list no-line>
          <div *ngFor="let ballotSelection of item.ballotSelections">
            <div *ngFor="let candidateName of ballotSelection.candidates">
              <ion-row no-line>
                <ion-item text-wrap no-line item-start>
                  <ion-label no-line>{{candidateName.personName}} {{candidateName.partyAbbreviation}}</ion-label>
                  <!-- <ion-checkbox (ionChange)="item.ionChangeUpdateCheckbox($event)" (click)="item.updateCheckbox($event)"></ion-checkbox> -->
                  <ion-checkbox [(ngModel)]="ballotSelection.selected" (ionChange)="item.ionChangeUpdateCheckbox($event)"></ion-checkbox>
                </ion-item>
              </ion-row>
            </div>
          </div>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>