<ion-header *ngIf="election.ready">
  <ion-navbar>
    <ion-buttons end>
      <button ion-button outline (click)=voteReview($event)>Review your votes</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!election.ready">
    <ion-spinner name="bubbles"></ion-spinner>
    <ion-label>Loading...</ion-label>

  </div>

  <div *ngIf="election.ready">

    <ion-slides>
      <ion-slide *ngFor="let item of election.contests">
        <br>
        <br>
        <br> {{item.contestName}}
        <br>
        <ion-label>Vote for {{item.getVotesAllowed()}}</ion-label>
        <br>
        <div text-center>{{item.statusMessage}}</div>
        <br>
        <br>
        <ion-list no-line>
          <div *ngFor="let ballotSelection of item.ballotSelections">
            <div *ngFor="let candidateName of ballotSelection.candidates">
              <ion-row no-line>
                <ion-item text-wrap no-line item-start>
                  <ion-label no-line>{{candidateName.personName}} {{candidateName.partyAbbreviation}}</ion-label>
                  <!-- <ion-checkbox (ionChange)="item.ionChangeUpdateCheckbox($event)" (click)="item.updateCheckbox($event)"></ion-checkbox> -->
                  <ion-checkbox [(ngModel)]="ballotSelection.selected" (ionChange)="item.ionChangeUpdateCheckbox($event)"></ion-checkbox>
                </ion-item>
              </ion-row>
            </div>
          </div>
        </ion-list>
      </ion-slide>
    </ion-slides>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons start>
          <button ion-button icon-left outline (click)=previous($event)>
            <ion-icon name="arrow-round-back"></ion-icon>
            Previous
          </button>
        </ion-buttons>

        <ion-buttons end>
          <button ion-button icon-right outline (click)=next($event)>Next
            <ion-icon name="arrow-round-forward"> </ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>