<ion-content>
  <div *ngIf="!election.ready">
    <ion-spinner name="bubbles"></ion-spinner>
    <ion-label>Loading...</ion-label>

  </div>

  <ion-slides *ngIf="election.ready">
    <ion-slide *ngFor="let item of election.contests">
      {{item.contestName}}
      <br>select: {{item.getVotesAllowed()}}
      <br> {{item.statusMessage}}
      <div *ngFor="let ballotSelection of item.ballotSelections">
        <div *ngFor="let candidateName of ballotSelection.candidates">
          <ion-list no-line>
            <ion-row no-line>
              <ion-item text-wrap no-line item-start>
                <ion-label no-line>{{candidateName.personName}} {{candidateName.partyAbbreviation}}</ion-label>
                <!-- <ion-checkbox (ionChange)="item.ionChangeUpdateCheckbox($event)" (click)="item.updateCheckbox($event)"></ion-checkbox> -->
                <ion-checkbox (ionChange)="item.ionChangeUpdateCheckbox($event)"></ion-checkbox>
              </ion-item>
            </ion-row>
          </ion-list>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>