<ion-content padding>
  <ion-card>
    {{contest.contestName}}
    <br />select: {{contest.getVotesAllowed()}} <br />
    {{contest.statusMessage}}
    <ion-list no-line>
      <div *ngFor="let ballotSelection of contest.ballotSelections">
        <div *ngFor="let candidateName of ballotSelection.candidates">
          <ion-row no-line>
            <ion-item text-wrap no-line item-start>
              <ion-checkbox [(ngModel)]="ballotSelection.selected"></ion-checkbox>
              <ion-label no-line>{{candidateName.personName}} {{candidateName.partyAbbreviation}}</ion-label>
            </ion-item>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </ion-card>
  <div class="center-button">
    <ion-button (click)="closeModal()">Close</ion-button>
  </div>
</ion-content>
