<ion-header *ngIf="election.ready">
  <ion-toolbar>
    <div class="center-button">
      <ion-button outline (click)="settings($event)" translate> <ion-icon name="cog-outline"></ion-icon>SETTINGS</ion-button>

      <!-- BAS commented out on 01/11/22  for Anne because there's no help yet  -->
      <!-- <ion&#45;button outline (click)="help($event)" translate> -->
      <!--   <ion&#45;icon name="help&#45;outline"></ion&#45;icon> -->
      <!--   HELP -->
      <!-- </ion&#45;button> -->

      <ion-button outline (click)="voteReview($event)" translate>REVIEW_YOUR_VOTES</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
  <div *ngIf="!election.ready">
    <ion-spinner name="bubbles"></ion-spinner>
    <ion-label>Loading...</ion-label>
  </div>

  <div *ngIf="election.ready">
    <ion-slides #mySlider [options]="sliderConfig">
      <ion-slide *ngFor="let item of election.contests">
        <br />
        <br />
        <div>
          <ion-label>{{item.contestName}}</ion-label>
          <br />
          <ion-label float="left" slot="start" translate> VOTE_FOR</ion-label>
          <ion-label>{{item.getVotesAllowed()}} </ion-label>
          <br />
          <ion-label float="right" slot="end">{{item.statusMessage1}}</ion-label>
          <ion-label color="danger" slot="end">{{item.statusMessage2}}</ion-label>
          <ion-label slot="end">{{item.statusMessage3}}</ion-label>
          <br />
          <br />
          <div class="center-button">
            <ion-item>
              <ion-button disabled="true" color="warning" margin:auto>
                <ion-icon name="arrow-up"></ion-icon>
                Touch to see more names
                <ion-icon name="arrow-up"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
          <ion-list no-line>
            <ng-container *ngIf="item.isCandidateContest()">
              <div *ngFor="let ballotSelection of item.ballotSelections">
                <div *ngFor="let candidateName of ballotSelection.candidates">
                  <ion-row no-line>
                    <ion-item text-wrap no-line item-start (click)="itemClicked($event, candidateName)">
                      <ion-checkbox
                        [(ngModel)]="ballotSelection.selected"
                        (ionChange)="item.ionChangeUpdateCheckbox($event)"
                      ></ion-checkbox>
                      <ion-label no-line>{{candidateName.personName}} {{candidateName.partyAbbreviation}}</ion-label>
                    </ion-item>
                  </ion-row>
                </div>
              </div>
            </ng-container>

            <div *ngIf="!item.isCandidateContest()">
              <ion-radio-group (ionChange)="item.ionChangeUpdateCheckbox($event)">
                <ion-row no-line>
                  <ion-item text-wrap no-line item-start (click)="itemClicked($event, candidateName)">
                    <ion-radio value="YES"></ion-radio>
                    <ion-label no-line>YES</ion-label>
                  </ion-item>
                </ion-row>
                <ion-row no-line>
                  <ion-item text-wrap no-line item-start (click)="itemClicked($event, candidateName)">
                    <ion-radio value="NO"></ion-radio>
                    <ion-label no-line>NO</ion-label>
                  </ion-item>
                </ion-row>
                <!-- <div *ngFor="let ballotSelection of -->
                <!--    item.ballotSelections" [(ngModel)]="ballotSelection.selected"> -->
                <!--    <div *ngFor="let candidateName of ballotSelection.candidates"> -->
                <!--       <ion&#45;row no&#45;line> -->
                <!--          <ion&#45;item text&#45;wrap no&#45;line item&#45;start (click)="itemClicked($event, candidateName)"> -->
                <!--  -->
                <!--             <ion&#45;radio -->
                <!--                value={{candidateName.personName}}></ion&#45;radio>  -->
                <!--             <ion&#45;label no&#45;line>{{candidateName.personName}}</ion&#45;label> -->
                <!--          </ion&#45;item> -->
                <!--       </ion&#45;row> -->
                <!--    </div> -->
                <!-- </div> -->
              </ion-radio-group>
            </div>
          </ion-list>
          <div class="center-button">
            <ion-item>
              <ion-button disabled="true" color="warning" margin:auto>
                <ion-icon name="arrow-down"></ion-icon>
                Touch to see more names
                <ion-icon name="arrow-down"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-footer>
      <ion-toolbar>
        <div class="center-button">
          <div>
            <ion-button slot="start" outline (click)="slidePrevious()" translate
              >PREVIOUS
              <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
            </ion-button>

            <ion-label style="padding: 20px">{{currentContest}}/{{election.contests.length}}</ion-label>
            <ion-button slot="end" outline (click)="slideNext()" translate>
              NEXT
              <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</ion-content>
