name: elroy
on:
  push:
    branches: [development, master]
  pull_request:
    branches: [development, master]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - run: echo "The ${{ github.ref }} branch job was automatically triggered by a ${{ github.event_name }} event"
      - name: Clone repo
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Lint
        run: |
          npm run lint
      - name: Format
        run: |
          npm run format:check
      - name: Test
        run: |
          npm run test
      - name: E2E
        run: |
          npm run e2e
      - name: Upload E2E videos
        uses: actions/upload-artifact@master
        if: success()
        with:
          name: videos
          path: cypress/videos
      - name: Upload E2E screenshots
        uses: actions/upload-artifact@master
        if: failure()
        with:
          name: screenshots
          path: cypress/screenshots
      - run: echo "CI completed with status ${{ job.status }}"
